html * {
  font-family: "Inter", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

header,
.hero {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3))
      no-repeat fixed,
    url(../../Images/background.jpg) no-repeat center center fixed;
}

.content_container,
.quote_section {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3))
      no-repeat fixed,
    url(../../Images/quote_background.jpg) no-repeat center center fixed;
}

body {
    @include flex-column;
    justify-content: center;
    max-width: 2560px;
    margin: 0;
}

.wrapper {
    @include flex-column;
}

button {
  padding: 7px;
  border-radius: 10px;
  background-color: var.$light_blue;
  color: var.$text_white;
  border: var.$text_white 1px solid;
  font-weight: 800;
  cursor: pointer;
}

button:hover {
  background-color: var.$dark_blue;
  color: var.$text_white;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.img {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

html {
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }