.hero {
  @include mix.align-center;
  justify-content: space-between;
  height: 50vw;
  padding: 10px 50px;
  .hero_header {
    h1,
    p {
      color: var.$text_white;
      text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 40px white;
    }
    button {
      width: 20%
    }
  }

  .hero_image {
    @include mix.justify-center;
    .img {
      background-image: linear-gradient(
        180deg,
        var.$light_blue,
        rgba(0, 0, 0, 0)
      );
      border-radius: 10px;
      width: 300px;
      height: 200px;
    }
  }
  img:hover {
    transform: scale(1.05);
    transition: all ease;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(96, 123, 243);
  }
}

.content_container {
    @include mix.align-center;
  flex-direction: column;
  gap: 30px;
  height: 30vw;
  h2 {
    font-size: 1.5rem;
    color: var.$text_white;
  }
  .items_container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    .item {
        @include mix.flex-column;
      gap: 30px;
      .item_image {
        @include mix.flex-center;
        height: 100%;
        width: 100%;
        .img {
          border-radius: 10px;
          padding: 0;
          margin: 0;
          background-image: linear-gradient(
            180deg,
            var.$light_blue,
            rgba(0, 0, 0, 0)
          );
          width: 300px;
          height: 100px;
        }
      }
      .item_content {
        color: var.$text_white;
      }
    }
  }
}
