.main_info {
    .items_container{
        display: flex;
        justify-content: space-around;
        .item_image{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            img {
            width: 80%;
            height: auto;
            }
        }
        .item_content {

        }
    }
}