.quote_section {
  @include mix.justify-center;
  height: 20vw;
  .container {
    @include mix.flex-column;
    justify-content: center;
    width: 50%;
    .quote {
      font-style: italic;
      font-size: 32px;
      color: var.$text_white;
      text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 40px white;
    }
    .subquote {
      display: flex;
      justify-content: flex-end;
      p {
        font-weight: 800;
        color: var.$text_white;
      }
    }
  }
}
