.sign-container {
  background-color: var.$light_grey;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 30vw;
  .container {
    background-color: var.$light_blue;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    .container_content {
      @include flex-column;
      align-items: center;
      justify-content: center;
    }
    .container_button {
      @include flex-center;
    }
  }
}
